

* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


/*body container*/

body {
    background-color: #190482;
}

/*gamer container*/

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*title container*/


.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #5b2048;
}




/*tile container 1*/

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}


/*key container*/

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}


/*Key Container*/

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #9610a8;
    margin: 4px;

}


.key-container button:nth-child(11){
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}


/*tile container 2*/


.tile-container div{
    display: flex;
}


.tile-container .tile{
    width: 72px ;
    height: 42px;
    border: 2px solid #9f05b0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 2px;
}


/*P tag container*/

.message-container{
    height: 30px;
}

.message-container p {
    background-color: #43063e;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}


/**Tile for the flipping frame**/

.tile.flip{
    animation: 0.5s linear flipping;
}

/**Key frames flipping rotate**/

    @keyframes flipping {

    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(90deg);
    }
     100%{
        transform: rotate(0deg);
    }

    }





/**Tile overlay color!**/

.purple-overlay{
    background-color: purple !important;
    border: none !important;
}

.palevioletred-overlay{
    background-color: palevioletred !important;
    border: none !important;
}

.plum-overlay{
    background-color: plum !important;
    border: none !important;
}



