/*This is the main color of the page */

*{
color: #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*This is the body*/

body{
    background-color: #121213;

}


.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*This is the title containter page*/

.tile-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

/*This is the container*/

.title-container{
    width: 330px;
    margin-bottom: 30px;
}

/*This is the key container*/
.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

/*key-container button*/
.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: purple;
    color: plum;
    margin: 4px;
}


/*nth-button 11

.key-container button:nth-child(12), {
    margin-left: 30px;
}
*/

/*nth-child for key container 20-28*/
.key-container button:nth-child(20),
.key-container button:nth-child(28) {

    width: 68px;

}